<ng-container *ngIf="(allPacientes$ | async) as pacientes">
    <div class="card p-5">
      <div class="flex flex-row mb-3">
        <p-button icon="pi pi-arrow-left" class="boton-tabla mr-2" (onClick)="volver()"></p-button>
        <h2>Total Pacientes de la Aplicación</h2>
      </div>

      <div class="d-flex justify-content-end align-items-end mb-3 ml-4">
        <div class="d-flex align-items-end">
          <!-- <p-button class="boton-guardar mr-4" (onClick)="abrirModalCrear()">Añadir pacientes</p-button> -->
          <p-button icon="pi pi-download" class="boton-tabla mr-4" (onClick)="descargarExcel()"></p-button>
        </div>
      </div>
     
      <p-table
        #dt1
        [value]="pacientes"
        [loading]="!view"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Página {currentPage} de {totalPages}"
        styleClass="p-datatable-sm"
        [(selection)]="pacSeleccionados"
      >
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="pacSeleccionados.length > 0"><p-button icon="pi pi-trash" class="boton-borrar" (onClick)="borrarPacientes()"></p-button></th>
            <th></th>
            <th class="text-header-table">Nombre</th>
            <th class="text-header-table">Username</th>
            <th class="text-header-table">Email</th>
            <th class="text-header-table">Activo</th>
            <th class="text-header-table">Rol</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pack>
          <tr>
            <td>
              <p-tableCheckbox [value]="pack.paciente_id"></p-tableCheckbox>
            </td>
            <td *ngIf="pacSeleccionados.length > 0"></td>
            <td class="text-center">{{ pack.paciente_nombre }}</td>
            <td class="text-center">{{ pack.paciente_username }}</td>
            <td class="text-center">{{ pack.paciente_email }} </td>
            <td class="text-center">{{ pack.paciente_activo ? 'Sí' : 'No' }}</td>
            <td class="text-center">{{ pack.rolPaciente_nombre }}</td>
          </tr>
        </ng-template>
      </p-table>
    
    
    </div>
  </ng-container>
  

  