.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.card-header {
    background-color: #167496;
    color: white;
    font-weight: 700;
}

.card-body {
    flex: 1;
    overflow: hidden;
    padding: 0.5rem;
    background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
    display: flex;
    flex-direction: column;
}

.contenedorMensajes {
    overflow-y: auto;
    padding: 0.3rem;
    flex: 1;
}

.contenedorMensajes::-webkit-scrollbar {
    display: none;
}

.input-group {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
}

.input-group-append {
    cursor: pointer;
}

.enviado {
    display: block;
    float: right;
    background-color: teal;
    color: white;
    max-width: 80%;
    border-radius: 10px;
    text-align: left;
    align-self: flex-end;
}

.recibido {
    display: block;
    float: left;
    background-color: gray;
    color: white;
    max-width: 80%;
    border-radius: 10px;
    text-align: left;
    align-self: flex-start;
}

.imgEnviar:active {
    transform: scale(0.9);
}

.fecha-hora {
    display: block;
    font-size: 0.75em; /* Tamaño de fuente pequeño */
    color: white;    /* Color más tenue */
    text-align: right; /* Alineado a la derecha */
    margin-top: 5px;   /* Espaciado superior para separarlo del mensaje */
}

.fecha-encabezado {
    text-align: center;
    margin: 20px 0;
    color: rgb(0, 0, 0);
  }
  
  .fecha-encabezado hr {
    border: 1px solid #000000;
    margin: 10px 0;
  }
  
  .grupo-mensajes {
    margin-bottom: 25px;
  }