.chatContainer{
    width: 300px;
    height: 500px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

.card-header{
    background-color: blueviolet;
    color: white;
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color: teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.recibido{
    display: block;
    float: left;
    background-color: gray;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: left;
}

.contenedorMensajes{
    overflow: scroll;
    padding: 0.3rem;
}

.contenedorMensajes::-webkit-scrollbar{
    display: none;
}

.chatIconContainer{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: gray;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px rgb(56, 56, 56);
}

.chatIcon{
 width: 40px;
 height: 40px;
}

.closeIcon{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}