
.tituloG {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #167496;
    padding: 1rem 0;
    /* background-color: white; */
}


.menu-container {
    /* background-color: #167496; */
    padding: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 1rem;
}

.menu-item-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondo {
    position: relative;               /* Necesario para el pseudo-elemento */
    overflow: hidden;                 /* Evita desbordes */
    height: 100vh;                    /* Ocupa toda la altura de la ventana */
    width: 100%;                      /* Ocupa todo el ancho */
    overflow-y: scroll;
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../../assets/bg2.gif');
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    filter: blur(5px);               /* Aplica el efecto de desenfoque */
    z-index: -2;                      /* Asegura que esté detrás del contenido */
}

