
.fondo {
    position: relative;               /* Necesario para el pseudo-elemento */
    overflow: hidden;                 /* Evita desbordes */
    height: 100vh;                    /* Ocupa toda la altura de la ventana */
    width: 100%;                      /* Ocupa todo el ancho */
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/bg-home.gif');
    /* background-image: url(https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-11-849_512.gif); */
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    filter: blur(5px);               /* Aplica el efecto de desenfoque */
    z-index: -2;                      /* Asegura que esté detrás del contenido */
}


.titulo-login{
    color: #85B6C8;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.logo-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.ui-inputgroup {
    margin-right: 1rem;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: none;
    /* background-color: #167496; */
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}

.menu-item-center {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}


.menu-item-right {
    flex: 0 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-right: 4%;
}

.menu-item-right-1 {
    flex: 0 0 auto;
    display: flex; 
    align-items: center;
    justify-content: end;
    margin-right: 4%;
}


.button-save-form button .p-button {
    width: 50%;
    padding: 15px;
    background-color: #167496;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.separar{
    margin-left: 110px;
}

.texto {
    color: #167496;
    font-family: "Monserrat";
}

.texto-home {
    color: black;
    font-family: "Monserrat";
}

.texto-home-small {
    color: black;
    font-family: "Monserrat";
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen-completa{
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3px; */
}
  
  
.homepage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
  
.homepage-item {
    /* width: 45%;
    height: 200px; */
    width: 45%;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: "Monserrat";
}

.homepage-item-full {
    /* width: 45%;
    height: 200px; */
    width: 95%;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: "Monserrat";
}
  
.homepage-item:hover {
    transform: scale(1.05);
}
  
.homepage-text {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-family: "Monserrat";
    z-index: 2;
}

.homepage-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}



