.titulo-login{
    color: #85B6C8;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 24px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.logo-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.ui-inputgroup {
    margin-right: 1rem;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}
.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}
.menu-item-center {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}
.menu-item-right {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
}

.button-save-form button .p-button {
    width: 50%;
    padding: 15px;
    background-color: #167496;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


.texto {
    color: #167496;
    font-family: "Monserrat";
}

.imagen-completa{
    width: 100%;
    background-color: #167496;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  
  

