<div class="fondo">
    <div class="imagen-completa">
        <div class="d-flex mt-2 justify-content-center align-items-baseline">
            <img src="../../../assets/logos/LOGO-2png azul.png" alt="Foto de perfil" height="120" >
            <img src="../../../assets/logos/sinblanco.png" alt="Foto de perfil" height="120" class="separar">
            
        </div>
       

        <div class="menu-item-right">
            <img src="https://cdn-icons-png.flaticon.com/512/20/20079.png" alt="Foto de perfil" class="profile-pic" (click)="verPerfil()">
            <span style="color: #167496; font-family: 'Monserrat'">¡Hola de nuevo {{ usuario.nombre }}!</span>
            <div>
                <a href="#" (click)="logOut()" style="color: #167496; font-family: 'Monserrat'">Cerrar sesión</a>
            </div>
        </div>
    </div>
    
    <div class="menu-container">
        <div class="menu-item-right-1 ml-2">
            <a href="#" [routerLink]="'/foroprofesionales'" style="color: #185b9a; font-family: 'Monserrat'">Foro Profesionales</a>
            <a href="#" [routerLink]="'/forousuarios'" class="ml-3" style="color: #185b9a; font-family: 'Monserrat'">Foro Usuarios</a>
            <a href="#" [routerLink]="'/home/listadoprof'" class="ml-3" style="color: #185b9a; font-family: 'Monserrat'">Listado profesionales por ciudades</a>
            <a href="#" [routerLink]="'/chats'" class="ml-3" style="color: #185b9a; font-family: 'Monserrat'">Chats</a>
            <a href="#" [routerLink]="'/recursos'" class="ml-3" style="color: #185b9a; font-family: 'Monserrat'">Aprende con TMH</a>
        </div>

        <div class="menu-item-left mb-4 mr-4">
            <p-dropdown class="d-flex flex-align-center" [style]="{'width': '22rem'}" placeholder="Buscar perfiles..." 
                [options]="users$ | async" [filter]="true" filterBy="nombre" appendTo="body" optionLabel="nombre" 
                [(ngModel)]="selectedPerfil" (onChange)="buscar()">
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                    <img src="https://cdn-icons-png.flaticon.com/512/20/20079.png" style="width: 18px" />
                    <div>{{ country.nombre }} {{country.apellidos}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>   

    <ng-container *ngIf="usuario.rol == 2" style="overflow-y: scroll;">
        <div class="d-flex justify-content-start mt-4">
            <div class="w-50">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="texto-home text-align-center">¿Qué es TakeMyHand?</h1>
                    <p class="texto-home-small">TakeMyHand es tu nuevo lugar seguro. Aquí podrás expresar tus emociones con total privacidad y estarás acompañado siempre de los mejores profesionales. Para ello realizamos de forma completamente gratuita un formulario que evaluará tu estado actual. ¡Comienza rellenado el formulario ahora!</p>
                    <p-button class="boton-form" label="Rellena el formulario" icon="pi pi-receipt" iconPos="right" [routerLink]="'/formulario'"></p-button>
                </div>
            </div>

            <div class="w-50">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="texto-home text-align-center">¡Crea tu plan de seguridad!</h1>
                    <p class="texto-home-small"> Esta herramienta te ayudará a manejar momentos difíciles. Es tu guía para cuidar de ti mismo y buscar ayuda en momentos de crisis.</p>
                    <p-button class="boton-form" label="Plan de seguridad" icon="pi pi-address-book" iconPos="right" [routerLink]="'/home/verPlan'"></p-button>
                </div>
            </div>
        </div>
    </ng-container>
      
    
    <ng-container *ngIf="usuario.rol == 3">
        <div class="d-flex justify-content-start mt-4">
            <div class="w-50">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h1 class="texto-home text-align-center">Añadir recursos</h1>
                    <p class="texto-home-small">TakeMyHand es tu nuevo lugar seguro. Aquí podrás expresar tus emociones con total privacidad y estarás acompañado siempre de los mejores profesionales. Para ello realizamos de forma completamente gratuita un formulario que evaluará tu estado actual. ¡Comienza rellenado el formulario ahora!</p>
                    <p-button class="boton-form" label="Rellena el formulario" icon="pi pi-receipt" iconPos="right" (click)="displayRecurso = true" ></p-button>
                </div>
            </div>
        </div>
    </ng-container>


</div>


<div *ngIf="displayRecurso">
    <app-recursos-home (res)="cerrar()" ></app-recursos-home>
</div>

<p-dialog header="Ver Perfil" [(visible)]="perfilBusqueda" [modal]="true" [style]="{width: '100%', height: '100%'}" [draggable]="false" [maximizable]="true" [resizable]="false" (onHide)="cerrarBusqueda()">
    <div *ngIf="selectedPerfil" class="d-flex flex-column justify-content-center align-items-start p-4">
        <table class="table table-borderless w-100">
            <tr>
                <td><strong>Nombre:</strong></td>
                <td>{{selectedPerfil.nombre}}</td>
            </tr>
            <tr>
                <td><strong>Apellidos:</strong></td>
                <td>{{selectedPerfil.apellidos}}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{selectedPerfil.email}}</td>
            </tr>
            <tr>
                <td><strong>Username:</strong></td>
                <td>{{selectedPerfil.username}}</td>
            </tr>
            <tr>
                <td><strong>Rol:</strong></td>
                <td>{{selectedPerfil.rol}}</td>
            </tr>
            <tr>
                <td><strong>Activo:</strong></td>
                <td>{{selectedPerfil.activo}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="selectedPerfil?.id" class="d-flex justify-content-start mb-4 mr-4">
        <!-- <button pButton type="button" label="Iniciar chat" icon="pi pi-comments" class="p-button-rounded p-button-success" 
                (click)="abrirChat()">
        </button> -->
        <app-chat *ngIf="perfilBusqueda" [id_receptor]="selectedPerfil.id" (res)="cerrarBusqueda()"></app-chat>
    </div>

    <div class="d-flex justify-content-start align-items-center mt-4">
      <p-button label="Cancelar" icon="pi pi-times" class="p-button-rounded p-button-secondary" (onClick)="cerrarBusqueda()"></p-button>
    </div>
</p-dialog>

<ng-container *ngIf="(verDialog$ | async)">
    <p-dialog header="Formulario" [(visible)]="displayDialog" modal="true" [closable]="false">
        <p>¿Te gustaría rellenar el formulario?</p>
        <p-footer>
          <p-button type="button" pButton label="Aceptar" icon="pi pi-check" (click)="navigateToForm()"></p-button>
          <p-button type="button" pButton label="Cancelar" icon="pi pi-times" (click)="hideDialog()"></p-button>
        </p-footer>
      </p-dialog>
</ng-container>

<ng-container *ngIf="(showEstado$ | async)">
    <p-dialog header="Valora tu estado de ánimo" [visible]="(showEstado$ | async)" modal="true" [closable]="false">
        <h2>¿Cómo te encuentras hoy?</h2>

        <p-rating [(ngModel)]="value" stars="5">
            <ng-template pTemplate="cancelicon">
                <img 
                    src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" 
                    width="25px" 
                    height="25px" />
            </ng-template>
            <ng-template pTemplate="onicon">
                <img 
                    src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" 
                    width="25px" 
                    height="25px" />
            </ng-template>
            <ng-template pTemplate="officon">
                <img 
                    src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png"
                    width="25px"
                    height="25px" />
            </ng-template>
        </p-rating>

        <p-footer>
          <p-button class="button-save"  label="Guardar" icon="pi pi-check" (click)="guardar()"></p-button>
          <p-button class="button-save" label="Cancelar" icon="pi pi-times" (click)="cerrarEstadoDialog()"></p-button>
        </p-footer>
    </p-dialog>
</ng-container>

<div *ngIf="displayChat">
    <app-chat [id_receptor]="selectedPerfil.id" (res)="cerrarBusqueda()"></app-chat>
</div>