.fondo{
  background-color: white;
  height: 100vh;
  /* overflow: hidden; */
}

.field .p-inputtext{
  border-color: #167496 1px;
  background-color: #F4F4F1;
  width: 100%;
  font-family: "Monserrat";
}

.titulo-login{
  color: #167496;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

  .texto {
    color: #85B6C8;
  }
  
  .texto:hover {
    color: #85B6C8;
  }
  
  .text-center {
    text-align: center;
  }
  
  .button-save-form button {
    width: 50%;
    padding: 15px;
    background-color: #167496;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .button-save-form button:hover {
    background-color: #98CDDF;
  }

  .registro {
    border: 2px solid #85B6C8;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    margin: auto;
  }

  .imagen-circular {
    width: 250px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
  }
  
  