<!-- <div class="parte-login ">
    <span class="titulo-login">Awolf Administrador</span>
    <form class="d-flex flex-column m-5 gap-6 form-w" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-login d-flex flex-column mt-4">
          <label class="text-login">Correo electrónico</label>
          <input class="w-full" formControlName="email" type="text" pInputText placeholder="ejemplo@ejemplo.com"/>
          <small class="ml-2 p-error block" *ngIf="email?.invalid && (email?.dirty||email?.touched||enviado)">Campo requerido</small>
        </div>
        <div class="input-login flex flex-column">
          <label class="text-login">Contraseña</label>
          <p-password [style]="{'width': '100%'}" [inputStyle]="{'width':'100%'}" inputStyleClass="w-full p-3" formControlName="password" class="password" [toggleMask]="true" [feedback]="false" placeholder="contraseña"></p-password>
          <small class="ml-2 p-error block" *ngIf="password?.invalid && (password?.dirty||password?.touched||enviado)">Campo requerido</small>
        </div>
        <div class="boton-login d-flex justify-content-center align-items-center">
          <button pButton type="submit"  class="d-flex justify-content-center align-items-center"> Iniciar sesión</button>
        </div>
      </form>
  </div> -->

  <h1>holaaa</h1>