
   <div class="d-flex flex-row fondo">
    <div class="parte-logo">
      <div class="imagen-completa">
        <img src="../../../assets/logos/logosinfondo.png" class="logo">
      </div>
    </div>

    <div class="parte-login">
      <span class="titulo-login">Iniciar sesión</span>
      <form class="d-flex flex-column m-5 gap-3 form-w" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-login d-flex flex-column mt-4">
          <label class="text-login">Correo electrónico</label>
          <input class="w-full" formControlName="email" type="text" pInputText placeholder="ejemplo@ejemplo.com"/>
          <small class="ml-2 p-error block" *ngIf="email?.invalid && (email?.dirty || email?.touched || enviado)">
            Campo requerido
          </small>
        </div>
        
        <div class="input-login d-flex flex-column mt-4">
          <label class="text-login">Contraseña</label>
          <p-password [style]="{'width': '100%'}" inputStyleClass="w-full p-3" formControlName="password" placeholder="contraseña"></p-password>
          <small class="ml-2 p-error block" *ngIf="password?.invalid && (password?.dirty || password?.touched || enviado)">
            Campo requerido
          </small>
        </div>
        <div class="boton-login d-flex justify-content-center align-items-center mt-4">
          <button pButton [loading]="loadingButton$ | async" type="submit" class="d-flex justify-content-center align-items-center">Iniciar sesión</button>
        </div>
        <div class="mt-4 text-center">
          <span>¿No tienes cuenta?  <a routerLink="/register" style="color: #F7CAC9;" class="texto">Pulsa aquí para registrarte</a></span>
        </div>
      </form>
    </div>

  </div>  