.imagen-completa{
  height: 100%;
  overflow: hidden; 
  position: relative;
  background-color: #98CDDF;
}

.parte-logo{
  width: 50%;
}

.fondo{
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.texto {
  color: #98CDDF;
  font-family: "Monserrat";
}

.texto:hover {
  color: #98CDDF;
  font-family: "Monserrat";
}

.titulo-login{
    color: #85B6C8;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
}

.parte-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.boton-login .p-button {
    background-color: #98CDDF;
    color: #FFFFFF;
    border: none;
    border-radius: 27px;
    border: 1px;
    opacity: 0px;
    width: 177px;
    margin-top: 35px;
}

.text-login {
    color: #98CDDF;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Monserrat";
}

.input-login .p-inputtext{
    border-color: #98CDDF 1px;
    background-color: #F4F4F1;
    width: 100%;
    font-family: "Monserrat";
}

.logo{
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    margin-top: 20%;
}

.organizacion{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
    margin-bottom: 10rem;
}

.form-w{
    width: 60%;
}

.monserrat{
  font-family: "Monserrat";
}


