
.recursos-container {
  position: relative;               /* Necesario para el pseudo-elemento */
  overflow: hidden;                 /* Evita desbordes */
  height: 100vh;                    /* Ocupa toda la altura de la ventana */
  width: 100%;                      /* Ocupa todo el ancho */
  overflow-y: scroll;
}

.recursos-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/bg-home.gif');
  background-size: cover;         
  background-position: center;     
  background-repeat: no-repeat;    
  filter: blur(5px);               /* Aplica el efecto de desenfoque */
  z-index: -1;                      /* Asegura que esté detrás del contenido */
}

.recurso-tarjeta {
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent; 
  margin-left: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.recurso-contenido {
  margin-top: 15px;
}
  
  .recurso-archivos {
    margin-top: 10px;
  }
  
  .recurso-archivos h3 {
    margin-bottom: 5px;
  }

  .recurso-archivos ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Esto permitirá que las imágenes se envuelvan si es necesario */
    gap: 20px; /* Espacio entre las imágenes */
  }
  
  .recurso-archivos li {
    margin-bottom: 10px;
    flex: 1 1 auto;
    max-width: 30%; /* Ajusta este valor según el número de imágenes que quieras en una fila */
  }
  
  .recurso-imagen {
    max-width: 100%;
    height: auto;
  }
  
  
  .recurso-video {
    max-width: 100%;
    height: auto;
  }
  
  .recurso-video {
    max-width: 100%;
    height: auto;
  }
  

.menu-container {
  padding: 1rem 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.menu-item-left {
  flex: 0 0 auto;
  margin-left: 1rem;
}

.menu-item-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor{
  width: 32%;
  display: flex;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}

.texto{
  font-family: 'Montserrat';
  font-size: 50px;
  font-weight: 700;
  text-align: start;
}

.texto2{
  font-family: 'Montserrat';
 
  text-align: start;
}
