/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";


@import "ngx-toastr/toastr";


@font-face {
  font-family: "Monserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ol, ul {
    padding-left: 0;
}

.field .p-inputtext{
  border-color: #F7CAC9 1px;
  background-color: #ffffff;
  width: 100%;
  font-family: "Monserrat";
}

.p-dropdown{
  border-color: #F7CAC9 1px;
  background-color: #F4F4F1;
  width: 100%;
  font-family: "Monserrat";
}

.text-header-table {
  color: #b5b7c0;
  font-family: "Monserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: center;
}

.button-save-form .p-button {
  width: 100%;
  padding: 15px;
  background-color: #167496;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Monserrat";
}

.button-save .p-button {
  background-color: #167496;
  color: white;
  font-family: "Monserrat";
  border: none;
  margin: 0.3rem;
}

.leer-mas .p-button {
  padding: 10px;
  background-color: #167496;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Monserrat";
}

.boton-tabla .p-button{
  background-color: white;
  color: #167496;
  border: none;
  font-family: "Monserrat";
}

.boton-borrar .p-button{
  background-color: #de4c4c;
  color: white;
  border: none;
  border-radius: 12px;
}

.boton-tabla-inverso .p-button{
  background-color: #167496;
  color: white;
  border: none;
  font-family: "Monserrat";
  width: 100%;
}

.boton-tabla-inverso .p-button .pi {
  color: white;
  margin-left: 10%;
}

.boton-tabla-inverso2 .p-button{
  background-color: white;
  color: #167496;
  border: none;
  font-family: "Monserrat";
  width: 100%;
}

.boton-tabla-inverso2 .p-button .pi {
  color: #167496;
  margin-left: 10%;
}


.button-add .p-button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #167496;
  border: 1px #167496;
  border-radius: 5px;
  font-family: "Monserrat";
}

.boton-form .p-button{
    font-family: "Monserrat";
    background-color: #167496;
    border-radius: 20px;
    border: 1px #167496;
}

button.p-confirm-dialog-accept.p-button.p-component {
  width: 15%;
  padding: 15px;
  background-color: #167496;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Monserrat";
}

a {
  color: #167496;
  font-family: "Monserrat";
}

.p-fileupload .p-fileupload-buttonbar {
  background: none;
  padding: 0;
  border: 0 none;
  color: #343a40;
  border-bottom: 0 none;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  margin-top: 1rem;
}

.p-fileupload .p-fileupload-content {
  background: none;
  padding: 0;
  border: 0 none;
  color: #495057;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.p-fileupload .p-fileupload-row > div {
  padding: 0.5rem 0.5rem;
}

.p-fileupload-row > div {
  flex: 1 1 auto;
  width: auto;
}

.p-fileupload-row {
  display: none;
}

.calendario-rango .p-calendar .p-inputtext {
  flex: 1 1 auto;
  width: 30rem;
}

.calendario-rango .p-icon-wrapper {
  color: #446853;
}

.calendario-rango .p-button {
  background-color: #f6f7fb !important;
  border: none;
  border-radius: 8px;
}

.leer-mas2 .p-button {
  padding: 12px;
  background-color: #167496;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Monserrat";
  border-radius: 10px;
  width: 100%;
}

.respuesta .p-button {
  padding: 10px;
  background-color: white;
  color: #167496;
  border: none;
  cursor: pointer;
  font-family: "Monserrat";
}


.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 2.5rem;
}

