
<p-dialog header="Crear Plan de Seguridad" [(visible)]="crearView" [modal]="true" [style]="{width: '45%'}" [draggable]="false" [resizable]="false" (onHide)="cerrar()">
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

  <form [formGroup]="form" (ngSubmit)="crear()" class="mx-5">
    <div class="field mt-5 mb-2">
      <div class="label-button-container">
        <label for="lugares">¿Qué lugares te hacen feliz?</label>
        <p-button (click)="addHappyPlace()" class="button-add" type="button">¡Añade los que quieras!</p-button>
      </div>
    </div>
    
    <div formArrayName="lugares">
      <div class="m-2" *ngFor="let place of lugares.controls; let i = index">
        <input [formControlName]="i" class="w-full" type="text" pInputText />
      </div>
    </div>    

    <div class="field mt-5 mb-2">
      <div class="label-button-container">
        <label for="personas">¿Qué personas sacan lo mejor de ti?</label>
        <p-button (click)="addPeople()" class="button-add" type="button">¡Añade los que quieras!</p-button>
      </div>
    </div>
    
    <div formArrayName="personas">
      <div class="m-2" *ngFor="let place of personas.controls; let i = index">
        <input [formControlName]="i" class="w-full" type="text" pInputText />
      </div>
    </div>   

    <div class="field mt-5 mb-2">
      <div class="label-button-container">
        <label for="hobbies">¿Qué te gusta hacer en tu tiempo libre?</label>
        <p-button (click)="addHobbies()" class="button-add" type="button">¡Añade los que quieras!</p-button>
      </div>
    </div>
    
    <div formArrayName="hobbies">
      <div class="m-2" *ngFor="let place of hobbies.controls; let i = index">
        <input [formControlName]="i" class="w-full" type="text" pInputText />
      </div>
    </div>  

    <div class="field mt-5 mb-2">
      <div class="label-button-container">
        <label for="nombre_archivo">Añade momentos bonitos</label>
        <p-button (click)="addMoments()" class="button-add" type="button">¡Añade los que quieras!</p-button>
      </div>
    </div>
    
    <div formArrayName="nombre_archivo">
      <div *ngFor="let control of nombre_archivo.controls; let i = index">
        <input type="file" [formControlName]="i" (change)="onFileChange($event, i)" class="file-input" multiple />
      </div>
    </div>
    
    <div class="d-flex justify-content-center align-items-center mt-4">
      <p-button [loading]="loading" [disabled]="!form.valid"
        class="button-save-form" label="Guardar" type="submit"></p-button>
    </div>
  </form>
  
</p-dialog>