.texto {
    font-family: "Monserrat";
    font-family: 14px;
}

.imagen-completa{
    width: 100%;
    background-color: #167496;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    z-index: 1;
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}
  
.label-button-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del contenedor */
    justify-content: space-between; /* Distribuye el espacio restante equitativamente */
  }
  
  .label-button-container label {
    margin-right: 0.3rem; /* Añade margen a la derecha del label para separación */
  }
  
  .label-button-container button {
    padding: 0.5rem 0.5rem; /* Ajusta el padding del botón según sea necesario */
  }

  .label-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .person-email-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .w-full {
    flex: 1;
  }
  
  .button-remove {
    align-self: center;
  }
  
  