<ng-container>
    <div class="imagen-completa">
        <div class="menu-item-left">
          <p-button icon="pi pi-home" (onClick)="volver()" class="boton-tabla-inverso ml-2">Volver</p-button>
        </div>
          <img src="../../../assets/logos/LOGO-3.png" alt="Foto de perfil" height="100">
      </div>
</ng-container>

<div class="fondo">
  <div class="d-flex flex-column justify-content-center align-items-center texto mt-4 mb-4">
      <h2 style="font-weight: 900;"><i><strong>¡Bienvenido a tu espacio seguro!</strong></i></h2>
      <!-- <h5>Rellena la información con momentos bonitos para poder revisarlos cuando quieras</h5> -->
  </div>

  <ng-container *ngIf="!plan" class="mt-6">
    <div class="texto d-flex flex-column justify-content-center align-items-center">
      <h2 style="font-weight: 700;" class="mb-4">
        Parece que aún no tienes un plan personalizado, ¡Creálo ahora!
      </h2>
      <p-button class="button-save-form" (onClick)="crearPlan(usuario.id)">Crear plan</p-button>
    </div>
  </ng-container>

  <div *ngIf="verPlan">
    <app-crear-plan [id_usuario]="id_usuario" (res)="cerrar()"></app-crear-plan>
  </div>


  <ng-container *ngIf="plan" class="mt-6">
    <div class="content-container">
      <div class="section" *ngIf="plan.lugares.length">
        <h3>¡Estos lugares te encantan!</h3>
        <ul class="list">
          <li *ngFor="let lugar of plan.lugares">{{ lugar }}</li>
        </ul>
      </div>

      <div class="section" *ngIf="plan.personas.length">
        <h3>Sabes que siempre puedes hablar con estas personas cuando estés mal </h3>
        <ul class="list">
          <li *ngFor="let persona of plan.personas">{{ persona }}</li>
        </ul>
      </div>

      <div class="section" *ngIf="plan.hobbies.length">
        <h3>¿Y si hacemos alguna de estas actividades y disfrutamos?</h3>
        <ul class="list">
          <li *ngFor="let hobbie of plan.hobbies">{{ hobbie }}</li>
        </ul>
      </div>

      <div class="section" *ngIf="plan.nombre_archivo && plan.nombre_archivo.length">
        <h3 class="d-flex justify-content-center">¿Te acuerdas de este momento?</h3>
        <p-carousel [value]="plan.nombre_archivo" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
          <ng-template pTemplate="item" let-file>
            <div class="carousel-item">
              <img [src]="BACKEND_FILES + '/' + file" alt="Momento" class="carousel-image" />
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </ng-container>

</div>


