.texto {
    font-family: "Monserrat";
    font-family: 14px;
}

.imagen-completa{
    width: 100%;
    background-color: #167496;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    z-index: 1;
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}
  