.fondo {
    position: relative;              
    overflow: hidden;                 
    height: 100vh;                   
    width: 100%;     
    overflow-y: scroll;                
}

.fondo::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../../assets/bg.gif');
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    filter: blur(8px);              
    z-index: -1;                     
}

.texto {
    font-family: "Monserrat";
    font-family: 14px;
}

.imagen-completa{
    width: 100%;
    /* background-color: #167496; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}
  

.content-container {
    width: 60%;
    margin: 0 auto;
    background-color: #f9f9f985;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

.section {
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: #167496;
    margin-bottom: 10px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: transparent;
    border-radius: 10px;
}

.carousel-image {
    max-height: 200px;
    max-width: 90%;
    object-fit: contain;
}

.svg-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.svg-1, .svg-2 {
    position: absolute;
    width: 100px; /* Puedes ajustar el tamaño del SVG */
    height: 100px;
    z-index: -1;
}

/* Animación para el primer SVG */
.svg-1 {
    top: 20%;
    left: 0;
    animation: moveSvg1 10s linear infinite;
    z-index: -1;
}

/* Animación para el segundo SVG */
.svg-2 {
    bottom: 20%;
    right: 0;
    animation: moveSvg2 8s linear infinite;
    z-index: -1;
}

@keyframes moveSvg1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(80vw); }
    100% { transform: translateX(0); }
}

@keyframes moveSvg2 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-80vw); }
    100% { transform: translateX(0); }
}