.fondo{
    overflow: hidden;
    background-image: url('../../../assets/bg2.gif');
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;   
  }
  
  
.organizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.bt2, .bt21 {
    width: 14%;
    padding: 0.5rem;
}

.barra {
    /* background-color: rgba(230, 230, 230, 0.82); */
    padding: 2% 0;
    margin: 0;
}

.crear-publicacion-btn {
    /* margin: 0 auto; */
    width: fit-content;
    margin-bottom: 1rem;
}

.tituloG {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #167496;
    padding: 1rem 0;
}

.tituloG2 {
    color: #167496;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}

.timeline-container {
    max-width: 1400px;
    /* margin: 0 auto; */
    padding: 0 1rem;
}

ul.timeline {
    list-style-type: none;
    padding: 0;
    position: relative;
}

ul.timeline:before {
    content: '';
    background: #167496;
    position: absolute;
    left: 30px;
    width: 3px;
    height: 100%;
}

ul.timeline > li {
    margin: 2rem 0;
    padding-left: 50px;
    position: relative;
}

ul.timeline > li:before {
    content: '';
    background: #167496;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #167496;
    left: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leer-mas {
    align-self: flex-start;
}

.menu-container {
    /* background-color: #167496; */
    padding: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 1rem;
}

.menu-item-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.respuesta-lista {
    list-style-type: none; /* Sin viñetas */
    padding-left: 20px; /* Añade espacio en el margen izquierdo para indentación */
  }
  
  .respuesta-item {
    margin-bottom: 20px; /* Espacio entre respuestas */
    margin-left: 20px; /* Indentación de las respuestas */
  }
  
  .respuesta-card {
    padding: 12px; /* Espacio dentro de cada tarjeta */
    background-color: #f9f9f9; /* Fondo gris claro */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .respuesta-titulo {
    font-weight: bold; /* Título en negrita */
    margin-bottom: 5px; /* Espacio debajo del título */
  }
  
  .respuesta-mensaje {
    margin-bottom: 10px; /* Espacio debajo del mensaje */
  }
  
  .respuesta-archivo {
    margin-top: 10px; /* Espacio por encima de las imágenes adjuntas */
  }
  
  .respuesta-fecha {
    text-align: right; /* Fecha alineada a la derecha */
    font-size: 0.85em; /* Tamaño de fuente más pequeño */
    color: #888; /* Color de texto gris */
  }
  

@media (max-width: 768px) {
    .organizacion {
        flex-direction: column;
        gap: 1rem;
    }

    .bt2, .bt21 {
        width: 60%;
    }

    .timeline-container {
        padding: 0;
    }

    ul.timeline {
        padding-left: 0;
    }

    ul.timeline:before {
        left: 20px;
    }

    ul.timeline > li {
        padding-left: 40px;
    }

    ul.timeline > li:before {
        left: 10px;
    }
}
