
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: none;
    margin-top: 10px;
    /* background-color: #167496; */
}

.menu-item-left {
    flex: 0 0 auto;
    margin-left: 3%;
}

.menu-item-center {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}


.menu-item-right {
    flex: 0 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-right: 4%;
}

.header {
    width: 100%;
    /* background-color: #167496; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 1;
}


.fondo {
    position: relative;               /* Necesario para el pseudo-elemento */
    overflow: hidden;                 /* Evita desbordes */
    height: 100vh;                    /* Ocupa toda la altura de la ventana */
    width: 100%;                      /* Ocupa todo el ancho */
}

.fondo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../../assets/bg2.gif');
    /* background-image: url(https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-11-849_512.gif); */
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    filter: blur(5px);               /* Aplica el efecto de desenfoque */
    z-index: -2;                      /* Asegura que esté detrás del contenido */
}
