<div class="card">
    <p-menubar>
        <div class="ui-helper-clearfix" style="width: 100%;">
            <div class="ui-inputgroup" style="float: left;">
                <input type="text" pInputText placeholder="Buscar...">
                <button pButton type="button" icon="pi pi-search"></button>
            </div>
            <div class="profile-container" style="float: right; position: relative;">
                <img src="https://via.placeholder.com/50" alt="Foto de perfil" class="profile-pic" (click)="toggleMenu()">
                <div class="dropdown-content">
                    <a href="#" (click)="cerrar()">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </p-menubar>
    <h2 class="titulo-login mt-8">¡WELCOME ADMINISTRADOR!</h2>  
</div>
